*.jar
*.log
cache/
logs/
modules/
bStats/
crash-reports/
permissions.yml
ops.json
usercache.json
version_history.json
eula.txt
help.yml
commands.yml
wepif.yml
*.db
**/LuckPerms/translations
**/LuckPerms/libs
**/LuckPerms/contexts.json

creative/creative*
survival/survival*
uhc/uhc*
database/*
proxy/plugins/BungeeTabListPlus/cache.dat
proxy/plugins/BungeeTabListPlus/heads
WorldEdit/
scripts/
Vault/
templates/
translations/
components.yml

!database/minecraft
!*/plugins/*.jar