*.jar
*.log
cache/
logs/
modules/
bStats/
crash-reports/
permissions.yml
ops.json
usercache.json
version_history.json
eula.txt
help.yml
commands.yml
wepif.yml
locations.yml
*.db
**/LuckPerms/translations
**/LuckPerms/libs
**/LuckPerms/contexts.json

creative/creative*
survival/survival*
uhc/uhc*
database/*
proxy/plugins/BungeeTabListPlus/cache.dat
proxy/plugins/BungeeTabListPlus/heads
WorldEdit/
scripts/
Vault/
ViaVersion/
templates/
translations/
34fbf40f-d353-403f-b6ce-6ea6ca19999f/
components.yml
lang.yml

!*/plugins/*.jar